@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Satisfy&display=swap");

:root {
  --primary-text: #333;
  --secondary-text: #ffbb00;
  --spec-text: #03002e;
  --white-text: #fff;
  --light-text: #ddd;
  --primary-bg: #1a3365;
  --secondary-bg: #ffbb00;
  --spec-bg: #03002e;
  --white-bg: #ffffff;
  --grey-bg: #e6e6e6;
}

body,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 20px 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 23px;
}

section {
  padding: 60px 80px;
}

.section-header h1 {
  font-family: "Satisfy", cursive;
  font-size: 50px;
  color: var(--white-text);
  text-shadow: 0 2px 4px #000;
  text-align: center;
  padding: 40px 0;
  position: relative;
}

.section-header h1:after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 45%;
  width: 170px;
  height: 5px;
  background-color: #000;
  margin-left: -30px;
}

.section-header .header-color {
  color: #03002e;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  /* background-color: #f50185; */
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  float: left;
  color: var(--primary-text);
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #000;
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.navbar-nav {
  margin: 0%;
}

.navbar .navbar-nav .nav-item {
  display: inline;
}

.navbar-nav .nav-item a {
  display: inline-block;
  font-size: 18px;
  padding: 15px 13px;
  color: var(--white-text);
  text-transform: uppercase;
  font-weight: bold;
  margin: 30px 10px;
  padding: 10px;
  transition: all 0.5s;
}

.navbar-nav .nav-item a:hover {
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
}

.toggle-collapse {
  float: right;
  width: 45px;
  height: 32px;
  margin: 8px 13px;
  background-color: transparent;
  color: rgba(232, 232, 232, 0.3);
  border: 1px solid rgba(232, 232, 232, 0.3);
  border-radius: 3px;
  cursor: pointer;
  display: none;
}

.toggle-collapse:hover {
  color: rgba(232, 232, 232);
}

header {
  background-image: url("./image/flowers.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--white-text);
  height: 90vh;
  position: relative;
}

.header-overlay {
  background-color: rgba(31, 31, 31, 0.75);
  height: 90vh;
}

.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.intro h1,
.intro h2,
.intro h3,
.intro p {
  text-shadow: 0 2px 4px #333;
}

.intro h1 {
  color: var(--secondary-text);
  font-size: 50px;
  margin: 20px 0;
  text-transform: uppercase;
}

.intro h3 {
  font-weight: lighter;
  font-size: 16px;
}

.intro p {
  font-size: 23px;
  line-height: 1.7;
}

.intro .social-icons a i {
  background-color: #03002e;
  color: var(--white-text);
  font-size: 20px;
  padding: 15px;
  margin: 0 20px;
  border-radius: 50%;
  transition: all 0.5s;
}

.intro .social-icons a i:hover {
  background-color: var(--white-bg);
  color: #ffbb00;
}

.about .section-content .about-item {
  column-count: 4;
  column-gap: 50px;
  text-align: left;
}

.about .about-image img {
  width: 100%;
}

.about .download-resume {
  text-align: center;
  margin: 50px;
}

.about .download-resume a {
  padding: 10px 15px;
  background-color: var(--secondary-text);
  color: var(--white-text);
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid var(--spec-text);
  border-radius: 7px;
  transition: all 0.5s;
}

.about .download-resume a:hover {
  background-color: #03002e;
}

.services {
  background-color: #03002e;
}

.service-intro {
  color: var(--white-text);
  text-align: center;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  align-items: top;
  justify-content: center;
  margin: 0 7.5px 15;
}

.service-item {
  background-color: var(--white-text);
  color: var(--primary-text);
  text-align: left;
  padding: 30px 20px 10px;
  box-shadow: 0 2px 8px 1px rgba(255, 255, 255, 0.8);
}

.service-item h2 {
  color: var(--secondary-text);
}

.service-item p {
  color: #000;
}

.experience {
  background-color: var(--white-bg);
  text-align: center;
  font-size: 24px;
  color: #212121;
}

p {
  color: #fff;
}

.section-content-images .logo-image img {
  width: 150px;
  border-radius: 10px;
  box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.3);
}

.section-content-images .logo-image img:hover {
  transform: scale(1.3);
  transition: transform 3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}

.contact {
  background-color: #03002e;
}

.contact-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  background-color: var(--grey-bg);
  box-shadow: 0 2px 8px 1px rgba(255, 255, 255, 0.3);
}

.contact-left {
  background-image: url("");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white-text);
}

.contact-overlay {
  background-color: rgba(31, 31, 31, 0.85);
  padding: 80px;
}

.contact-left-item {
  text-align: center;
  margin-bottom: 60px;
}

.contact-left-item h3 {
  color: var(--secondary-text);
  font-size: 30px;
}

.contact-left-item .social-icons {
  padding: 10px 0;
  text-align: center;
}

.contact-left-item .social-icons i {
  background-color: var(--secondary-text);
  color: var(--white-bg);
  font-size: 35px;
  margin-right: 20px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}

.contact-left-item .social-icons i:hover {
  background-color: var(--white-text);
  color: green;
}

.contact-right {
  padding: 30px;
}

.contact-right label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-right .form-item {
  margin-bottom: 30px;
}

.contact-right .form-item input,
.contact-right .form-item textarea {
  font-size: 17px;
  padding: 10px 15px;
  border: 1px solid #000;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

input[type="button"] {
  background-color: #fff;
  text-transform: uppercase;
  transition: all 0.5s;
  font-weight: bold;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #000;
  color: var(--white-text);
}

.footer {
  background-color: #000;
  color: var(--white-text);
  padding: 20px;
  text-align: center;
}

.footer p {
  font-size: 14px;
}

.footer p a {
  color: var(--white-text);
}

@media screen and (max-width: 600px) {
  body {
    font-size: 17px;
    line-height: 23px;
  }

  section {
    padding: 20px 25px;
  }

  .section-header h1 {
    font-size: 30px;
    padding: 20px 0;
    position: relative;
  }

  .section-header h1:after {
    left: 43%;
    width: 100px;
    height: 3px;
  }

  .nav-logo {
    display: inline-block;
  }

  .navbar-nav {
    color: var(--white-text);
    padding: 0%;
  }

  .toggle-collapse {
    display: inline-block;
    margin: 30px 10px;
  }

  .navbar .navbar-nav .nav-item {
    display: block;
    list-style: none;
  }

  .navbar-nav .nav-item a {
    margin: 10px;
  }

  .navbar-collapse {
    width: 100%;
    overflow: hidden;
    text-align: center;
    height: 0vh;
    transition: all 499ms ease;
  }

  .collapse {
    background-color: var(--spec-bg);
    height: 100vh;
  }

  header {
    /* background-image: url("./image/FB_IMG_1588735115292_1.png"); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--white-text);
    height: 100vh;
    position: relative;
  }

  .header-overlay {
    background-color: rgba(0, 0, 0, 0.85);
    height: 100vh;
  }

  .intro {
    text-align: center;
    z-index: 1000;
  }

  .intro h1 {
    color: var(--secondary-text);
    font-size: 27px;
    line-height: 23px;
  }

  .intro .social-icons a i {
    color: var(--white-text);
    font-size: 16px;
    padding: 5px;
    margin: 0 5px;
  }

  .about .section-content .about-item {
    column-count: 1;
    text-align: justify;
  }

  .about .download-resume {
    text-align: center;
    margin: 10px;
  }

  .about .download-resume a {
    font-size: 14px;
  }

  .experience {
    background-color: var(--white-bg);
    text-align: center;
    font-size: 18px;
    color: #212121;
  }

  .section-content-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 20px;
  }

  .section-content-images .logo-image img {
    width: 80px;
  }

  .services-list {
    display: block;
  }

  .service-item {
    text-align: justify`;
    margin: 30px 0;
  }

  .contact-items {
    display: block;
  }

  .contact-overlay {
    padding: 30px;
  }

  .contact-left-item {
    margin-bottom: 30px;
  }

  .contact-left-item h3 {
    font-size: 25px;
  }

  .contact-left-item .social-icons {
    padding: 20px 0;
  }

  .contact-left-item .social-icons i {
    font-size: 16px;
  }

  .contact-right {
    padding: 20px;
  }

  .contact-right .form-item {
    margin-bottom: 20px;
  }

  .footer {
    background-color: var(--spec-bg);
    color: var(--white-text);
    padding: 20px;
    text-align: center;
  }

  .footer p {
    font-size: 14px;
  }

  .footer p a {
    color: var(--white-text);
  }
}
